<header>

<div class="header-container">
<h1 class="header-h1">Welcome to Employer's Portal</h1>

<ul class="navigation-list">
    <li class="navigation-item"><a href="#">Employees</a></li>
    <li class="navigation-item"><a href="#">Resources</a></li>
    <li class="navigation-item"><a href="#">About Us</a></li>
</ul>
</div>
</header>