<!DOCTYPE html>

{{> head}}

<body>
    {{> navbar}}
    {{> sidebar}}
    <main>
        <h1>CSS Grid or Flexbox
        </h1>
        <p>When should you use which?</p>
    </main>

    {{> footer}}
</body>

</html>