<!DOCTYPE html>

{{> head}}

<body>
    {{> header}}

    <div class="wrapper">
        {{> navbar}}

        <h2>404: This is not the Page you are looking for..</h2>


        {{> footer}}
</body>

</html>
