
<!DOCTYPE html>

{{> head}}

<body>
    {{> header}}

    <div class="wrapper">
        {{> navbar}}

    <main>
        {{#if errorMessage}}
        <div class="user-message user-message--error">
            {{errorMessage}}
        </div>
        {{/if}}

        <form class="login-form" action="/signup" method="POST">
        <div class="form-control">
            <label for="company">Company</label>
            <input type="company" name="company" id="email">
        </div>
            <div class="form-control">
                <label for="email">E-Mail</label>
                <input type="email" name="email" id="email" required>
            </div>
            <div class="form-control">
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
            </div>
            <div class="form-control">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" name="confirmPassword" id="confirmPassword">
            </div>
            <input type="hidden" name="_csrf" value={{csrfToken}}>
            <button class="btn" type="submit">Signup</button>
        </form>
    </main>


        {{> footer}}
</body>

</html>